*{margin: 0; padding: 0;} 


/*logo-1*/
.logo-1{
    

}
.logo-1-1 img{
    width: 200px;
    height: 100px;

}
/*het-logo-1*/
img.img-banner{
    width: 100%;
    height:600px;
}
/*navbar*/
.mau-nen-1{
    background-color:#F1022A;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.font-chu{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}
.kc_menu{
    padding-left: 10px;
    font-size: 16px;
    text-transform: uppercase;
    
}
.kc_ul{
    padding-top: 10px;  
}

.o-search{
    width: 150px;
}
/*het navbar*/
.background-image{
   
    height: 100%;
}

/*nd khoi*/
/*.trang{
    background-color: #a52a2a;
}

.nd-khoi{
     margin-top: 95px;
}
img.img-2.tinanh {
    width: 100%;
    height: 100px;
}
a.tieude-2 {
    width: 100%;
    background-color: #00000021;
    color: #a52a2a;
    font-size: 16px;
    padding-left: 13px;
    text-decoration: none;
    display: block;
    
    bottom: 1px;
    left: 15px;
    text-transform: uppercase;
}*/
/*het nd khoi*/
/*hang1*/
div.tinanh{
    height: 200px;
}
img.img-1 {
    width: 100%;
    height: 200px;


}
.tieude {
    padding-top: 60px;
}
a.tieude-1 {
    width: 90%;
    background-color: #00000061;
    color: white;
    font-size: 21px;
    padding-left: 13px;
    text-decoration: none;
    display: block;
    position: absolute;
    bottom: 1px;
    left: 15px;
    text-transform: uppercase;
}
a.tieude:hover{
    color: red;
}
/*het hang1*/
/*khoi-2*/
img.anh-sn{
    width: 100%;
    height: auto;
}
/*het khoi-1*/
/*khoi2*/
div.anh-k-2 {
    background-image: url('images/khoi-2.png');
    width: auto;
    height: auto;
}
div.font-k2{
    color: white;
}
a.button-k2 {
    text-decoration: none;
    color: white;
}
 a.button-k2:hover{
    transform: scale(1.1);
}
button.btn.btn-danger.mt-3.mb-3.mau-nut-k2 {
    background-color: #860012;
}
/*het khoi 2*/
/*khoi-3*/
a.button-k3 {
    text-decoration: none;
    color: red;
}
img.anh-k3 {
    width: 100%;
    height: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 38px;
    transition: transform .1s ease;
}

img.anh-k3:hover{
      transform: scale(1.1);
}

.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*het-khoi-3*/
/*footer*/
p.footer-size{
    font-size: 10px;
}
ul.footer-basis-menu {
    list-style: none;
}
.footer-2{
    background-color: #F1022A;
}